*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black; 
}
.scene-spinner {
  margin: auto;
  height: 100%;
}

.spn-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
}
.spn-spinner {
  position: relative;
}
.spn-a {
  display: block;
  position: absolute;
  opacity: 0;
}
.spn-a .spn-b {
  display: block;
  width: 0.25rem;
  height: 0.25rem;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 1rem white;
  animation: spn_spin 1s infinite ease-in-out;
}

@keyframes spn_out1 {
  30%, 100% {
    transform: rotateZ(3.6deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(1) {
  animation: spn_out1 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(1) .spn-b {
  animation-delay: 0.01s;
}

@keyframes spn_out2 {
  30%, 100% {
    transform: rotateZ(7.2deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(2) {
  animation: spn_out2 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(2) .spn-b {
  animation-delay: 0.02s;
}

@keyframes spn_out3 {
  30%, 100% {
    transform: rotateZ(10.8deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(3) {
  animation: spn_out3 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(3) .spn-b {
  animation-delay: 0.03s;
}

@keyframes spn_out4 {
  30%, 100% {
    transform: rotateZ(14.4deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(4) {
  animation: spn_out4 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(4) .spn-b {
  animation-delay: 0.04s;
}

@keyframes spn_out5 {
  30%, 100% {
    transform: rotateZ(18deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(5) {
  animation: spn_out5 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(5) .spn-b {
  animation-delay: 0.05s;
}

@keyframes spn_out6 {
  30%, 100% {
    transform: rotateZ(21.6deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(6) {
  animation: spn_out6 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(6) .spn-b {
  animation-delay: 0.06s;
}

@keyframes spn_out7 {
  30%, 100% {
    transform: rotateZ(25.2deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(7) {
  animation: spn_out7 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(7) .spn-b {
  animation-delay: 0.07s;
}

@keyframes spn_out8 {
  30%, 100% {
    transform: rotateZ(28.8deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(8) {
  animation: spn_out8 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(8) .spn-b {
  animation-delay: 0.08s;
}

@keyframes spn_out9 {
  30%, 100% {
    transform: rotateZ(32.4deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(9) {
  animation: spn_out9 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(9) .spn-b {
  animation-delay: 0.09s;
}

@keyframes spn_out10 {
  30%, 100% {
    transform: rotateZ(36deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(10) {
  animation: spn_out10 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(10) .spn-b {
  animation-delay: 0.1s;
}

@keyframes spn_out11 {
  30%, 100% {
    transform: rotateZ(39.6deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(11) {
  animation: spn_out11 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(11) .spn-b {
  animation-delay: 0.11s;
}

@keyframes spn_out12 {
  30%, 100% {
    transform: rotateZ(43.2deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(12) {
  animation: spn_out12 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(12) .spn-b {
  animation-delay: 0.12s;
}

@keyframes spn_out13 {
  30%, 100% {
    transform: rotateZ(46.8deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(13) {
  animation: spn_out13 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(13) .spn-b {
  animation-delay: 0.13s;
}

@keyframes spn_out14 {
  30%, 100% {
    transform: rotateZ(50.4deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(14) {
  animation: spn_out14 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(14) .spn-b {
  animation-delay: 0.14s;
}

@keyframes spn_out15 {
  30%, 100% {
    transform: rotateZ(54deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(15) {
  animation: spn_out15 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(15) .spn-b {
  animation-delay: 0.15s;
}

@keyframes spn_out16 {
  30%, 100% {
    transform: rotateZ(57.6deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(16) {
  animation: spn_out16 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(16) .spn-b {
  animation-delay: 0.16s;
}

@keyframes spn_out17 {
  30%, 100% {
    transform: rotateZ(61.2deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(17) {
  animation: spn_out17 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(17) .spn-b {
  animation-delay: 0.17s;
}

@keyframes spn_out18 {
  30%, 100% {
    transform: rotateZ(64.8deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(18) {
  animation: spn_out18 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(18) .spn-b {
  animation-delay: 0.18s;
}

@keyframes spn_out19 {
  30%, 100% {
    transform: rotateZ(68.4deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(19) {
  animation: spn_out19 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(19) .spn-b {
  animation-delay: 0.19s;
}

@keyframes spn_out20 {
  30%, 100% {
    transform: rotateZ(72deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(20) {
  animation: spn_out20 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(20) .spn-b {
  animation-delay: 0.2s;
}

@keyframes spn_out21 {
  30%, 100% {
    transform: rotateZ(75.6deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(21) {
  animation: spn_out21 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(21) .spn-b {
  animation-delay: 0.21s;
}

@keyframes spn_out22 {
  30%, 100% {
    transform: rotateZ(79.2deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(22) {
  animation: spn_out22 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(22) .spn-b {
  animation-delay: 0.22s;
}

@keyframes spn_out23 {
  30%, 100% {
    transform: rotateZ(82.8deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(23) {
  animation: spn_out23 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(23) .spn-b {
  animation-delay: 0.23s;
}

@keyframes spn_out24 {
  30%, 100% {
    transform: rotateZ(86.4deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(24) {
  animation: spn_out24 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(24) .spn-b {
  animation-delay: 0.24s;
}

@keyframes spn_out25 {
  30%, 100% {
    transform: rotateZ(90deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(25) {
  animation: spn_out25 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(25) .spn-b {
  animation-delay: 0.25s;
}

@keyframes spn_out26 {
  30%, 100% {
    transform: rotateZ(93.6deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(26) {
  animation: spn_out26 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(26) .spn-b {
  animation-delay: 0.26s;
}

@keyframes spn_out27 {
  30%, 100% {
    transform: rotateZ(97.2deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(27) {
  animation: spn_out27 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(27) .spn-b {
  animation-delay: 0.27s;
}

@keyframes spn_out28 {
  30%, 100% {
    transform: rotateZ(100.8deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(28) {
  animation: spn_out28 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(28) .spn-b {
  animation-delay: 0.28s;
}

@keyframes spn_out29 {
  30%, 100% {
    transform: rotateZ(104.4deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(29) {
  animation: spn_out29 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(29) .spn-b {
  animation-delay: 0.29s;
}

@keyframes spn_out30 {
  30%, 100% {
    transform: rotateZ(108deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(30) {
  animation: spn_out30 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(30) .spn-b {
  animation-delay: 0.3s;
}

@keyframes spn_out31 {
  30%, 100% {
    transform: rotateZ(111.6deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(31) {
  animation: spn_out31 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(31) .spn-b {
  animation-delay: 0.31s;
}

@keyframes spn_out32 {
  30%, 100% {
    transform: rotateZ(115.2deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(32) {
  animation: spn_out32 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(32) .spn-b {
  animation-delay: 0.32s;
}

@keyframes spn_out33 {
  30%, 100% {
    transform: rotateZ(118.8deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(33) {
  animation: spn_out33 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(33) .spn-b {
  animation-delay: 0.33s;
}

@keyframes spn_out34 {
  30%, 100% {
    transform: rotateZ(122.4deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(34) {
  animation: spn_out34 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(34) .spn-b {
  animation-delay: 0.34s;
}

@keyframes spn_out35 {
  30%, 100% {
    transform: rotateZ(126deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(35) {
  animation: spn_out35 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(35) .spn-b {
  animation-delay: 0.35s;
}

@keyframes spn_out36 {
  30%, 100% {
    transform: rotateZ(129.6deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(36) {
  animation: spn_out36 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(36) .spn-b {
  animation-delay: 0.36s;
}

@keyframes spn_out37 {
  30%, 100% {
    transform: rotateZ(133.2deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(37) {
  animation: spn_out37 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(37) .spn-b {
  animation-delay: 0.37s;
}

@keyframes spn_out38 {
  30%, 100% {
    transform: rotateZ(136.8deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(38) {
  animation: spn_out38 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(38) .spn-b {
  animation-delay: 0.38s;
}

@keyframes spn_out39 {
  30%, 100% {
    transform: rotateZ(140.4deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(39) {
  animation: spn_out39 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(39) .spn-b {
  animation-delay: 0.39s;
}

@keyframes spn_out40 {
  30%, 100% {
    transform: rotateZ(144deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(40) {
  animation: spn_out40 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(40) .spn-b {
  animation-delay: 0.4s;
}

@keyframes spn_out41 {
  30%, 100% {
    transform: rotateZ(147.6deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(41) {
  animation: spn_out41 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(41) .spn-b {
  animation-delay: 0.41s;
}

@keyframes spn_out42 {
  30%, 100% {
    transform: rotateZ(151.2deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(42) {
  animation: spn_out42 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(42) .spn-b {
  animation-delay: 0.42s;
}

@keyframes spn_out43 {
  30%, 100% {
    transform: rotateZ(154.8deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(43) {
  animation: spn_out43 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(43) .spn-b {
  animation-delay: 0.43s;
}

@keyframes spn_out44 {
  30%, 100% {
    transform: rotateZ(158.4deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(44) {
  animation: spn_out44 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(44) .spn-b {
  animation-delay: 0.44s;
}

@keyframes spn_out45 {
  30%, 100% {
    transform: rotateZ(162deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(45) {
  animation: spn_out45 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(45) .spn-b {
  animation-delay: 0.45s;
}

@keyframes spn_out46 {
  30%, 100% {
    transform: rotateZ(165.6deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(46) {
  animation: spn_out46 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(46) .spn-b {
  animation-delay: 0.46s;
}

@keyframes spn_out47 {
  30%, 100% {
    transform: rotateZ(169.2deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(47) {
  animation: spn_out47 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(47) .spn-b {
  animation-delay: 0.47s;
}

@keyframes spn_out48 {
  30%, 100% {
    transform: rotateZ(172.8deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(48) {
  animation: spn_out48 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(48) .spn-b {
  animation-delay: 0.48s;
}

@keyframes spn_out49 {
  30%, 100% {
    transform: rotateZ(176.4deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(49) {
  animation: spn_out49 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(49) .spn-b {
  animation-delay: 0.49s;
}

@keyframes spn_out50 {
  30%, 100% {
    transform: rotateZ(180deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(50) {
  animation: spn_out50 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(50) .spn-b {
  animation-delay: 0.5s;
}

@keyframes spn_out51 {
  30%, 100% {
    transform: rotateZ(183.6deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(51) {
  animation: spn_out51 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(51) .spn-b {
  animation-delay: 0.51s;
}

@keyframes spn_out52 {
  30%, 100% {
    transform: rotateZ(187.2deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(52) {
  animation: spn_out52 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(52) .spn-b {
  animation-delay: 0.52s;
}

@keyframes spn_out53 {
  30%, 100% {
    transform: rotateZ(190.8deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(53) {
  animation: spn_out53 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(53) .spn-b {
  animation-delay: 0.53s;
}

@keyframes spn_out54 {
  30%, 100% {
    transform: rotateZ(194.4deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(54) {
  animation: spn_out54 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(54) .spn-b {
  animation-delay: 0.54s;
}

@keyframes spn_out55 {
  30%, 100% {
    transform: rotateZ(198deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(55) {
  animation: spn_out55 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(55) .spn-b {
  animation-delay: 0.55s;
}

@keyframes spn_out56 {
  30%, 100% {
    transform: rotateZ(201.6deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(56) {
  animation: spn_out56 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(56) .spn-b {
  animation-delay: 0.56s;
}

@keyframes spn_out57 {
  30%, 100% {
    transform: rotateZ(205.2deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(57) {
  animation: spn_out57 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(57) .spn-b {
  animation-delay: 0.57s;
}

@keyframes spn_out58 {
  30%, 100% {
    transform: rotateZ(208.8deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(58) {
  animation: spn_out58 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(58) .spn-b {
  animation-delay: 0.58s;
}

@keyframes spn_out59 {
  30%, 100% {
    transform: rotateZ(212.4deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(59) {
  animation: spn_out59 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(59) .spn-b {
  animation-delay: 0.59s;
}

@keyframes spn_out60 {
  30%, 100% {
    transform: rotateZ(216deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(60) {
  animation: spn_out60 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(60) .spn-b {
  animation-delay: 0.6s;
}

@keyframes spn_out61 {
  30%, 100% {
    transform: rotateZ(219.6deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(61) {
  animation: spn_out61 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(61) .spn-b {
  animation-delay: 0.61s;
}

@keyframes spn_out62 {
  30%, 100% {
    transform: rotateZ(223.2deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(62) {
  animation: spn_out62 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(62) .spn-b {
  animation-delay: 0.62s;
}

@keyframes spn_out63 {
  30%, 100% {
    transform: rotateZ(226.8deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(63) {
  animation: spn_out63 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(63) .spn-b {
  animation-delay: 0.63s;
}

@keyframes spn_out64 {
  30%, 100% {
    transform: rotateZ(230.4deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(64) {
  animation: spn_out64 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(64) .spn-b {
  animation-delay: 0.64s;
}

@keyframes spn_out65 {
  30%, 100% {
    transform: rotateZ(234deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(65) {
  animation: spn_out65 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(65) .spn-b {
  animation-delay: 0.65s;
}

@keyframes spn_out66 {
  30%, 100% {
    transform: rotateZ(237.6deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(66) {
  animation: spn_out66 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(66) .spn-b {
  animation-delay: 0.66s;
}

@keyframes spn_out67 {
  30%, 100% {
    transform: rotateZ(241.2deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(67) {
  animation: spn_out67 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(67) .spn-b {
  animation-delay: 0.67s;
}

@keyframes spn_out68 {
  30%, 100% {
    transform: rotateZ(244.8deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(68) {
  animation: spn_out68 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(68) .spn-b {
  animation-delay: 0.68s;
}

@keyframes spn_out69 {
  30%, 100% {
    transform: rotateZ(248.4deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(69) {
  animation: spn_out69 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(69) .spn-b {
  animation-delay: 0.69s;
}

@keyframes spn_out70 {
  30%, 100% {
    transform: rotateZ(252deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(70) {
  animation: spn_out70 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(70) .spn-b {
  animation-delay: 0.7s;
}

@keyframes spn_out71 {
  30%, 100% {
    transform: rotateZ(255.6deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(71) {
  animation: spn_out71 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(71) .spn-b {
  animation-delay: 0.71s;
}

@keyframes spn_out72 {
  30%, 100% {
    transform: rotateZ(259.2deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(72) {
  animation: spn_out72 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(72) .spn-b {
  animation-delay: 0.72s;
}

@keyframes spn_out73 {
  30%, 100% {
    transform: rotateZ(262.8deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(73) {
  animation: spn_out73 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(73) .spn-b {
  animation-delay: 0.73s;
}

@keyframes spn_out74 {
  30%, 100% {
    transform: rotateZ(266.4deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(74) {
  animation: spn_out74 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(74) .spn-b {
  animation-delay: 0.74s;
}

@keyframes spn_out75 {
  30%, 100% {
    transform: rotateZ(270deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(75) {
  animation: spn_out75 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(75) .spn-b {
  animation-delay: 0.75s;
}

@keyframes spn_out76 {
  30%, 100% {
    transform: rotateZ(273.6deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(76) {
  animation: spn_out76 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(76) .spn-b {
  animation-delay: 0.76s;
}

@keyframes spn_out77 {
  30%, 100% {
    transform: rotateZ(277.2deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(77) {
  animation: spn_out77 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(77) .spn-b {
  animation-delay: 0.77s;
}

@keyframes spn_out78 {
  30%, 100% {
    transform: rotateZ(280.8deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(78) {
  animation: spn_out78 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(78) .spn-b {
  animation-delay: 0.78s;
}

@keyframes spn_out79 {
  30%, 100% {
    transform: rotateZ(284.4deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(79) {
  animation: spn_out79 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(79) .spn-b {
  animation-delay: 0.79s;
}

@keyframes spn_out80 {
  30%, 100% {
    transform: rotateZ(288deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(80) {
  animation: spn_out80 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(80) .spn-b {
  animation-delay: 0.8s;
}

@keyframes spn_out81 {
  30%, 100% {
    transform: rotateZ(291.6deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(81) {
  animation: spn_out81 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(81) .spn-b {
  animation-delay: 0.81s;
}

@keyframes spn_out82 {
  30%, 100% {
    transform: rotateZ(295.2deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(82) {
  animation: spn_out82 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(82) .spn-b {
  animation-delay: 0.82s;
}

@keyframes spn_out83 {
  30%, 100% {
    transform: rotateZ(298.8deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(83) {
  animation: spn_out83 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(83) .spn-b {
  animation-delay: 0.83s;
}

@keyframes spn_out84 {
  30%, 100% {
    transform: rotateZ(302.4deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(84) {
  animation: spn_out84 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(84) .spn-b {
  animation-delay: 0.84s;
}

@keyframes spn_out85 {
  30%, 100% {
    transform: rotateZ(306deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(85) {
  animation: spn_out85 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(85) .spn-b {
  animation-delay: 0.85s;
}

@keyframes spn_out86 {
  30%, 100% {
    transform: rotateZ(309.6deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(86) {
  animation: spn_out86 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(86) .spn-b {
  animation-delay: 0.86s;
}

@keyframes spn_out87 {
  30%, 100% {
    transform: rotateZ(313.2deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(87) {
  animation: spn_out87 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(87) .spn-b {
  animation-delay: 0.87s;
}

@keyframes spn_out88 {
  30%, 100% {
    transform: rotateZ(316.8deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(88) {
  animation: spn_out88 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(88) .spn-b {
  animation-delay: 0.88s;
}

@keyframes spn_out89 {
  30%, 100% {
    transform: rotateZ(320.4deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(89) {
  animation: spn_out89 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(89) .spn-b {
  animation-delay: 0.89s;
}

@keyframes spn_out90 {
  30%, 100% {
    transform: rotateZ(324deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(90) {
  animation: spn_out90 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(90) .spn-b {
  animation-delay: 0.9s;
}

@keyframes spn_out91 {
  30%, 100% {
    transform: rotateZ(327.6deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(91) {
  animation: spn_out91 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(91) .spn-b {
  animation-delay: 0.91s;
}

@keyframes spn_out92 {
  30%, 100% {
    transform: rotateZ(331.2deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(92) {
  animation: spn_out92 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(92) .spn-b {
  animation-delay: 0.92s;
}

@keyframes spn_out93 {
  30%, 100% {
    transform: rotateZ(334.8deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(93) {
  animation: spn_out93 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(93) .spn-b {
  animation-delay: 0.93s;
}

@keyframes spn_out94 {
  30%, 100% {
    transform: rotateZ(338.4deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(94) {
  animation: spn_out94 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(94) .spn-b {
  animation-delay: 0.94s;
}

@keyframes spn_out95 {
  30%, 100% {
    transform: rotateZ(342deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(95) {
  animation: spn_out95 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(95) .spn-b {
  animation-delay: 0.95s;
}

@keyframes spn_out96 {
  30%, 100% {
    transform: rotateZ(345.6deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(96) {
  animation: spn_out96 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(96) .spn-b {
  animation-delay: 0.96s;
}

@keyframes spn_out97 {
  30%, 100% {
    transform: rotateZ(349.2deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(97) {
  animation: spn_out97 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(97) .spn-b {
  animation-delay: 0.97s;
}

@keyframes spn_out98 {
  30%, 100% {
    transform: rotateZ(352.8deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(98) {
  animation: spn_out98 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(98) .spn-b {
  animation-delay: 0.98s;
}

@keyframes spn_out99 {
  30%, 100% {
    transform: rotateZ(356.4deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(99) {
  animation: spn_out99 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(99) .spn-b {
  animation-delay: 0.99s;
}

@keyframes spn_out100 {
  30%, 100% {
    transform: rotateZ(360deg) translateX(5em);
    opacity: 1;
  }
}
.spn-a:nth-child(100) {
  animation: spn_out100 2s 2 alternate ease-in-out;
}
.spn-a:nth-child(100) .spn-b {
  animation-delay: 1s;
}

@keyframes spn_spin {
  15% {
    transform: scale(3);
  }
  50% {
    transform: scale(1);
  }
}